<button style="background-color:green; color:white" (click)="register()"> Register Now</button>

<h1>{{heads}}</h1>
<div>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
<div *ngIf = "registering">
<br><br>
      <input type="text" placeholder="Full Name" formControlName="name">
 <br><br>
</div>
      <input type="text" placeholder="Username" formControlName="username">
<br><br>
      <input type="password" placeholder="Password" formControlName="password">
 <br><br>
      <input type="submit" value="{{submitText}}">
  </form>
</div>


